@import "../../scss/constants";

.popup {
  background-color: rgba(17, 17, 17, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.popup__field {
  background-color: $mainBackgroundColor;
  border-radius: 10px;
  position: relative;
  overflow: scroll;

  height: auto;
  max-height: 90vh;
  align-items: flex-start;
}

.popup__button-close {
  padding: 12px;
  border: none;
  background-color: transparent;
  background-image: url('../../images/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media (max-width: 780px) {

  .popup__field {
    padding: 60px 42px 87px;
  }
  
  .popup__button-close {
    top: 10px;
    right: 10px;

}
}