@import "../../scss/constants";

.basket {
  @extend %flexBetween;
  flex-direction: column;
  width: 100%;
}

.basket__title {
  align-self: flex-start;
}

.basket__span {
  width: 100%;
  height: 1px;
  border: $border-01;
  margin: 50px 0;
  display: inline-block;
}

.basket__text {
  @extend %fontH2;
}

.basket__empty {
  width: 100%;
  @extend %flexCenter;
  flex-direction: column
}

.basket__submit-container {
  @extend %flexBetween;
  margin-bottom: 100px;
  width: 100%;
}

.basket__button-submit {
  @extend %button;
  @extend %fontButton;
  padding: 21px 36px;
}

.basket__button-submit_disabled {
  background-color: $mainBackgroundColor;
  border: 1px solid $color-6;
  box-sizing: content-box;
  color: $color-6;
  cursor: default;
}

.basket__total-cost {
  @extend %fontBig;

}

@media (max-width: 780px) {

  .basket__title {
    font-size: 20px;
  }

  .basket__span {
    margin: 20px 0;
  }

  .basket__submit-container {
    margin-bottom: 50px;
    row-gap: 25px;
    flex-direction: column-reverse;
  }

  .basket__button-submit {
    padding: 31px 81px;
  }

}