@import "../../scss/constants";

.menu__type-care {
  grid-row: 3/3;
  grid-column: 1/3;
  margin: 25px 0 30px;
  @extend %flexBetween;
  gap: 10px;

  .aside & {
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
  }
}

.menu__type-care-paragraph {
  background-color: $mainBackgroundColor;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $color-2;
  padding: 18px 5px;
  text-align: center;
  box-shadow: 0 15px 70px rgba(43, 28, 1, 0.1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 15px 50px rgba(43, 28, 1, 0.4);
  }

  .aside & {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: $color-1;
    text-transform: uppercase;
    align-self: flex-start;
    box-shadow: none;
    text-align: start;
  }

}

.menu__type-care_active {
  background-color: $color-6;
  color: $mainBackgroundColor;

  .aside & {
    background-color: transparent;
    color: $color-6
  }
}

.menu__type-care-span {

  .aside & {
    border-bottom: $border-01;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    display: block;
  }
}

@media (max-width: 1100px) {

  .menu__type-care {
    display: none;

    .aside & {
      display: flex;
    }
  }
}

@media (max-width: 780px) {

  .menu__type-care {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 0 25px;

    .aside & {
      display: none;
      margin: 0;
    }
  }

  .menu__type-care_active {
    
      background-color: transparent;
      color: $color-6
    
  }

  .menu__type-care-paragraph {
    padding: 0;
    box-shadow: none;
    text-align: left;
    align-self: flex-start;

    &:hover {
      box-shadow: none;
      text-decoration: underline;
    }
  }
}