.price__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}

.price__button {
  background-color: #FFC85E;
  border: none;
  background-repeat: no-repeat;
  border-radius: 79px;
}

.product-card .price__button {
  background-color: #fff;
  -webkit-box-shadow: 0 15px 70px rgba(43, 28, 1, 0.1);
          box-shadow: 0 15px 70px rgba(43, 28, 1, 0.1);
  border: none;
  border-radius: 10px;
}

.price__container {
  padding-left: 25px;
  border-left: 1px dashed rgba(63, 78, 101, 0.1);
  padding-right: 25px;
  border-right: 1px dashed rgba(63, 78, 101, 0.1);
}
.product-card .price__container, .footer .price__container, .header-mobile .price__container {
  padding-left: 0;
  border-left: none;
  padding-right: 0;
  border-right: none;
}
.footer .price__container {
  grid-column: 4/5;
  grid-row: 1/3;
  align-self: flex-start;
  justify-self: center;
}
.product-card .price__container {
  grid-row: 2/3;
  grid-column: 5/6;
}

.price__button {
  padding: 21px 73px 21px 43px;
  color: #fff;
  background-image: url("../../images/download.svg");
  background-size: 17px 17px;
  border-radius: 79px;
}
.header .price__button {
  width: 200px;
  height: 59px;
  background-position: 132px 23px;
}
.header-mobile .price__button {
  width: 290px;
  height: 70px;
  background-position: 180px 27px;
}
.product-card .price__button {
  color: #3F4E65;
  width: 186px;
  padding: 30px 0 30px 37px;
  background-image: url("../../images/download-black.svg");
  background-position: 125px 32px;
  text-align: start;
}
.footer .price__button {
  width: 214px;
  height: 59px;
  background-position: 144px 23px;
}

@media (max-width: 1350px) {
  .footer .price__container {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
  }
  .price__title {
    display: none;
  }
}
@media (max-width: 860px) {
  .footer .price__button {
    width: 149px;
    height: 40px;
    font-size: 12px;
    background-position: 104px 12px;
    padding: 12px 0 12px 29px;
    text-align: left;
  }
  .footer .price__container {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-start;
  }
}
@media (max-width: 680px) {
  .product-card .price__container {
    grid-row: 4/5;
    grid-column: 1/4;
  }
  .product-card .price__button {
    width: 290px;
    padding-left: 90px;
    background-position: 175px 32px;
  }
}